In [1]:
import pandas as pd

routes = pd.read_csv('data/routes.txt')
stop_times = pd.read_csv('data/stop_times.txt')
stops = pd.read_csv('data/stops.txt')
fare_rules = pd.read_csv('data/fare_rules.txt')
fare_attributes = pd.read_csv('data/fare_attributes.txt')
trips = pd.read_csv('data/trips.txt')
import pickle

In [2]:
stops['stop_id'].unique()

array(['LAKE', 'FTVL', 'COLS', 'SANL', 'BAYF', 'HAYW', 'SHAY', 'UCTY',
       'FRMT', 'ROCK', 'ORIN', 'LAFY', 'WCRK', 'PHIL', 'CONC', 'NCON',
       'PITT', 'PCTR', 'ANTC', 'OAKL', '12TH', '19TH', 'MCAR', 'CAST',
       'WDUB', 'DUBL', 'WOAK', 'EMBR', 'MONT', 'POWL', 'CIVC', '16TH',
       '24TH', 'GLEN', 'BALB', 'DALY', 'ASHB', 'DBRK', 'NBRK', 'PLZA',
       'DELN', 'RICH', 'WARM', 'MLPT', 'BERY', 'COLM', 'SSAN', 'SBRN',
       'MLBR', 'SFIA', 'place_LAKE', 'place_FTVL', 'place_COLS',
       'place_SANL', 'place_BAYF', 'place_HAYW', 'place_SHAY',
       'place_UCTY', 'place_FRMT', 'place_ROCK', 'place_ORIN',
       'place_LAFY', 'place_WCRK', 'place_PHIL', 'place_CONC',
       'place_NCON', 'place_PITT', 'place_PCTR', 'place_ANTC',
       'place_12TH', 'place_19TH', 'place_MCAR', 'place_CAST',
       'place_WDUB', 'place_DUBL', 'place_WOAK', 'place_EMBR',
       'place_MONT', 'place_POWL', 'place_CIVC', 'place_16TH',
       'place_24TH', 'place_GLEN', 'place_BALB', 'place_DALY',
       'place_ASHB', 'place_DBRK', 'place_NBRK', 'place_PLZA',
       'place_DELN', 'place_RICH', 'place_WARM', 'place_MLPT',
       'place_BERY', 'place_COLM', 'place_SSAN', 'place_SBRN',
       'place_MLBR', 'place_SFIA', '12TH_1', '12TH_2', '12TH_3', '12TH_4',
       '12TH_5', '12TH_6', '12TH_7', '12TH_8', '16TH_1', '16TH_2',
       '19TH_1', '19TH_2', '19TH_3', '19TH_5', '19TH_6', '24TH_1',
       '24TH_2', 'ASHB_1', 'BALB_1', 'BALB_2', 'BAYF_1', 'BAYF_2',
       'CAST_1', 'CIVC_1', 'CIVC_2', 'CIVC_3', 'CIVC_4', 'CIVC_5',
       'CIVC_6', 'CIVC_7', 'CIVC_8', 'COLM_2', 'COLS_1', 'COLS_2',
       'COLS_4', 'CONC_1', 'CONC_2', 'DBRK_1', 'DBRK_2', 'DBRK_3',
       'DBRK_4', 'EMBR_1', 'EMBR_2', 'EMBR_3', 'EMBR_4', 'EMBR_5',
       'EMBR_6', 'FTVL_2', 'FTVL_3', 'FRMT_1', 'FRMT_2', 'GLEN_1',
       'LAKE_1', 'LAKE_2', 'LAKE_3', 'LAKE_4', 'MLBR_5', 'MLBR_2',
       'MONT_1', 'MONT_2', 'MONT_3', 'MONT_5', 'MONT_6', 'MONT_7',
       'POWL_1', 'POWL_2', 'POWL_3', 'POWL_4', 'POWL_5', 'POWL_6',
       'POWL_7', 'POWL_8', 'SBRN_3', 'SBRN_4', 'SFIA_1', 'SHAY_3',
       'DELN_1', 'DELN_2', 'MLPT_1', 'BERY_1', 'PITT_1', 'PCTR_1',
       'NCON_1', 'PHIL_1', 'WCRK_1', 'LAFY_1', 'LAFY_2'], dtype=object)

Fare prices based on destinations

In [3]:
#fareComb = fare_attributes.merge(fare_rules, how='inner', lsuffix='l')[['fare_id', 'origin_id', 'destination_id', 'price']]


fareComb = fare_attributes.merge(fare_rules, how='inner', on = 'fare_id')[['fare_id', 'origin_id', 'destination_id', 'price']]

fareComb

      fare_id origin_id destination_id  price
0           1      SSAN           SSAN   6.40
1           2      SSAN           SBRN   3.60
2           3      SSAN           SFIA   8.55
3           4      SSAN           MLBR   3.60
4           5      SSAN           WDUB   7.35
...       ...       ...            ...    ...
2495     2496      ANTC           WARM   9.20
2496     2497      ANTC           MLPT  10.00
2497     2498      ANTC           BERY  10.30
2498     2499      ANTC           PCTR   2.15
2499     2500      ANTC           ANTC   6.40

[2500 rows x 4 columns]

In [4]:
a = trips[['route_id', 'service_id', 'trip_id', 'trip_headsign', 'direction_id']]
a

,route_id,service_id,trip_id,trip_headsign,direction_id
0,5,2022_09_12-DX-MVS-Weekday-33,1185746,OAK Airport / SF / Daly City,1
1,6,2022_09_12-DX-MVS-Weekday-33,1186308,SF / OAK Airport / Berryessa,0
2,5,2022_09_12-DX-MVS-Weekday-33,1185748,OAK Airport / SF / Daly City,1
3,6,2022_09_12-DX-MVS-Weekday-33,1188844,SF / OAK Airport / Berryessa,0
4,5,2022_09_12-DX-MVS-Weekday-33,1185747,OAK Airport / SF / Daly City,1
...,...,...,...,...,...
3947,20,2022_09_12-SU20-Sunday-01,1158392,Oakland Airport,1
3948,20,2022_09_12-SU20-Sunday-01,1158393,Oakland Airport,1
3949,20,2022_09_12-SU20-Sunday-01,1158391,Oakland Airport,1
3950,20,2022_09_12-SU20-Sunday-01,1158394,Oakland Airport,1
3951,20,2022_09_12-SU20-Sunday-01,1158395,Oakland Airport,1

In [5]:
b = routes[['route_id', 'route_short_name', 'route_long_name']]
b

   route_id route_short_name                        route_long_name
0         1         Yellow-S               Antioch to SFIA/Millbrae
1         2         Yellow-N               Millbrae/SFIA to Antioch
2         3         Orange-N   Berryessa/North San Jose to Richmond
3         4         Orange-S   Richmond to Berryessa/North San Jose
4         5          Green-S  Berryessa/North San Jose to Daly City
5         6          Green-N  Daly City to Berryessa/North San Jose
6         7            Red-S         Richmond to Daly City/Millbrae
7         8            Red-N         Millbrae/Daly City to Richmond
8        11           Blue-S         Dublin/Pleasanton to Daly City
9        12           Blue-N         Daly City to Dublin/Pleasanton
10       19          Beige-N            Oakland Airport to Coliseum
11       20          Beige-S            Coliseum to Oakland Airport
12     BB-A      BusBridge-N                             Bus Bridge
13     BB-B      BusBridge-S                             Bus Bridge

In [6]:
c = stop_times[['trip_id', 'arrival_time', 'stop_id', 'stop_sequence']]

In [7]:
tmp = c.merge(a, how = 'left', on='trip_id')
fullStops = tmp.merge(b, how='inner', on = 'route_id')
fullStops

,trip_id,arrival_time,stop_id,stop_sequence,route_id,service_id,trip_headsign,direction_id,route_short_name,route_long_name
0,1184597,5:16:00,UCTY,0,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
1,1184597,5:21:00,FRMT,1,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
2,1184597,5:28:00,WARM,2,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
3,1184597,5:36:00,MLPT,3,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
4,1184597,5:41:00,BERY,4,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
...,...,...,...,...,...,...,...,...,...,...
62025,1347043,22:10:00,PHIL,1,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62026,1347045,22:20:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62027,1347045,22:40:00,PHIL,1,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62028,1347047,22:50:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62029,1347047,23:10:00,PHIL,1,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge

In [8]:
fullStops['service_id'].unique()

array(['2022_09_12-DX-MVS-Weekday-33', '2022_09_12-DX-MVS-Weekday-36',
       '2022_09_12-SA-MVS-Saturday-33', '2022_09_12-SA-MVS-Saturday-56',
       '2022_09_12-SU-MVS-Sunday-33', '2022_09_12-SU-MVS-Sunday-56',
       '2022_09_12-DX19-Weekday-01', '2022_09_12-SA19-Saturday-01',
       '2022_09_12-SU19-Sunday-01', '2022_09_12-DX20-Weekday-01',
       '2022_09_12-SA20-Saturday-01', '2022_09_12-SU20-Sunday-01'],
      dtype=object)

In [10]:
st = list(fullStops['stop_id'].unique())
# st.to_pickle('api/allStops.pkl')

with open('allStops.pkl', 'wb') as f:
    pickle.dump(st, f)

In [11]:
print(len(fullStops))
t = fullStops.loc[(fullStops['stop_id'] == 'BALB') & (fullStops['route_id'] == "8") & \

    ((fullStops['service_id'] == '2022_09_12-DX-MVS-Weekday-33') | \

    (fullStops['service_id'] == '2022_09_12-DX-MVS-Weekday-36') | \
    (fullStops['service_id'] == '2022_09_12-DX19-Weekday-01') | \
    (fullStops['service_id'] == '2022_09_12-DX20-Weekday-01') 
    
    
    )


]
print(len(t))

t = t.sort_values('arrival_time')

t['arrival_time'].unique()

62030
116

array(['10:05:00', '10:20:00', '10:35:00', '10:50:00', '11:05:00',
       '11:20:00', '11:35:00', '11:50:00', '12:05:00', '12:20:00',
       '12:35:00', '12:50:00', '13:05:00', '13:20:00', '13:35:00',
       '13:50:00', '14:05:00', '14:20:00', '14:35:00', '14:50:00',
       '15:05:00', '15:20:00', '15:35:00', '15:50:00', '16:05:00',
       '16:20:00', '16:35:00', '16:50:00', '17:05:00', '17:20:00',
       '17:35:00', '17:50:00', '18:05:00', '18:20:00', '18:35:00',
       '18:50:00', '19:05:00', '19:20:00', '19:38:00', '19:51:00',
       '20:08:00', '20:21:00', '20:38:00', '6:20:00', '6:35:00',
       '6:50:00', '7:05:00', '7:20:00', '7:35:00', '7:50:00', '8:05:00',
       '8:20:00', '8:35:00', '8:50:00', '9:05:00', '9:20:00', '9:35:00',
       '9:50:00'], dtype=object)

In [12]:
fullStops.to_pickle('fullStops.pkl')

In [13]:
fareComb.to_pickle('fareComb.pkl')

In [14]:
fullStops[fullStops['stop_sequence'] == 0]

,trip_id,arrival_time,stop_id,stop_sequence,route_id,service_id,trip_headsign,direction_id,route_short_name,route_long_name
0,1184597,5:16:00,UCTY,0,4,2022_09_12-DX-MVS-Weekday-33,Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
5,1184598,5:48:00,RICH,0,4,2022_09_12-DX-MVS-Weekday-33,OAK Airport / Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
26,1184599,6:18:00,RICH,0,4,2022_09_12-DX-MVS-Weekday-33,OAK Airport / Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
47,1184600,6:48:00,RICH,0,4,2022_09_12-DX-MVS-Weekday-33,OAK Airport / Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
68,1184601,7:18:00,RICH,0,4,2022_09_12-DX-MVS-Weekday-33,OAK Airport / Berryessa/North San Jose,1,Orange-S,Richmond to Berryessa/North San Jose
...,...,...,...,...,...,...,...,...,...,...
62020,1347039,20:50:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62022,1347041,21:20:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62024,1347043,21:50:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62026,1347045,22:20:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge
62028,1347047,22:50:00,CONC,0,BB-B,2022_09_12-SU-MVS-Sunday-56,Bus Bridge,1,BusBridge-S,Bus Bridge

In [ ]:
fullStops.sort_values('trip_id')#.apply(print)

In [ ]:
fullStops[fullStops['trip_id'] == 1249676]